<h3><i class="fas fa-book-reader"> Story Books</i></h3>
<div class="section">
    <p class="lead">Share your stories here</p>
</div>
<div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn purple darken-1">
        <i class="fab fa-google left"></i> Login With Google
        </a>
    </div>
